<mat-card>
    <mat-card-header>
        <h2>資料庫讀寫練習</h2>
    </mat-card-header>
</mat-card>            
<mat-card>    
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="AddMember(form.value)">
            <div class="formField">
                <label for="memberName">名稱</label>
                <input id="memberName" type="text" name="name" ngModel required>
            </div>
            <div class="formField">
                <label>性別</label>
                <label for="memberMale">男</label>
                <input id="memberMale" type="radio" name="gender" [value]="1" ngModel required>
                <label for="memberFemale">女</label>
                <input id="memberFemale" type="radio" name="gender" [value]="2" ngModel required>
                <label for="memberNan">不清楚</label>
                <input id="memberNan" type="radio" name="gender" [value]="0" ngModel required>
            </div>
            <div class="formField">
                <label for="memberAge">年齡</label>
                <input id="memberAge" type="number" name="age" ngModel required>
            </div>
            <div class="formField">
                <label for="memberRemark">備註</label>
                <input id="memberRemark" type="text" name="remark" ngModel>
            </div>
            <div class="formField">
                <button type="submit" class="btn btn-primary">新增成員</button>
                <button type="reset" class="btn btn-primary">重置</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <button class="btn btn-primary" (click)="GetSampleDataFromTs()">從前端取得sample資料</button>
        <!-- <button class="btn btn-primary" (click)="GetSampleDataFromCs()">從後端取得sample資料</button> -->
        <button class="btn btn-primary" (click)="GetDataFromCs()">從後端取得database資料</button>
        <p *ngIf="!DataSource?.length">目前沒有資料。</p>
        <table *ngIf="DataSource?.length" mat-table [dataSource]="DataSource" class="mat-elevation-z8">
            <!-- identifier Column -->
            <ng-container matColumnDef="identifier">
                <th mat-header-cell *matHeaderCellDef> ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let element"> {{GenderString(element.gender)}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>
          
            <!-- Remark Column -->
            <ng-container matColumnDef="remark">
                <th mat-header-cell *matHeaderCellDef> Remark </th>
                <td mat-cell *matCellDef="let element"> {{element.remark}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: DisplayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-footer>footer</mat-card-footer>
</mat-card>